@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">배포가된걸까요?</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>